<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>

  <meta charset="uft-8">
  <title>Museu Digital</title>
</head>
<body>
  <div id="app"></div>
</body>
</html>
